# Ignore all contents of the listed directories
/data/*
/output/*
# debatable whether we want to store a model's weights in the repo or not
#/models/*

# Allow the listed directories themselves to be tracked
!/output/images
#!/models/
!/data/.gitkeep
!/output/.gitkeep
!/models/.gitkeep