# Core packages
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm

# PyTorch and torchvision 
torch>=1.10
torchvision
torchattacks

tensorflow-cpu  

# Hugging Face Hub
huggingface_hub

# Image processing
Pillow
scikit-image

# Jupyter and display utils (optional)
ipython
ipykernel
